//fonts
$ff-base: -apple-system, blinkmacsystemfont, "Segoe UI", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

// weights
$fw-thin: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

// sizes
$fs-gigantic: rem(64px);
$fs-huge: rem(32px);
$fs-h1: rem(27px);
$fs-h2: rem(24px);
$fs-h3: rem(18px);
$fs-h4: rem(16px);
$fs-m: rem(14px);
$fs-s: rem(12px);
$fs-xs: rem(10px);
